<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Validator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
 <div class="text-center" style="margin-top: 10px;">
    <a href="http://localhost:3000/single">
        <button >Do You Want Single Email Verification?</button>
      </a>
 </div>
    <div class="container">
  
        <h1 class="text-center">Bulk Email Validator</h1>
        <form action="bulkEmailValidate" method="post">
            <div class="form-group" style="width: 600px; margin-left: 300px;">
                <label for="email">Enter Emails Here (One Email Per Line)</label>
                <textarea class="form-control" name="emails" required cols="30" rows="10" placeholder="Enter Emails Here"></textarea>
            </div>
            <div class="form-group" style="width: 600px; margin-left: 300px;">
                <button type="submit" class="btn btn-primary btn-block">Verify Emails</button>
            </div>
          
              
        </form>
       <table class="table table-striped" style="width: 600px; margin-left: 300px;">
        <thead>
            <tr>
                <th style="background-color: wheat;">Valid Emails</th>
            </tr>
        
        </thead>

        <tbody>
            <%if(flag){%>
                <%for(var i = 0; i <text.valid.length; i++){%>
                    <tr>
                        <td><%=text.valid[i]%></td>
                    </tr>
                    <%}%>
                    
                    
                    <%}%>

          
        </tbody>

       </table>
       <table class="table table-striped" style="width: 600px; margin-left: 300px;">
        <thead>
            <tr>
                <th style="background-color: wheat;">Invalid Emails</th>
            </tr>
        
        </thead>

        <tbody>
            <%if(flag){%>
                <%for(var i = 0; i <text.invalid.length; i++){%>
                    <tr>
                        <td><%=text.invalid[i]%></td>
                    </tr>
                    <%}%>
                    
                    
                    <%}%>

          
        </tbody>

       </table>
       <table class="table table-striped" style="width: 600px; margin-left: 300px;">
        <thead>
            <tr>
                <th style="background-color:wheat;">Catch-All Emails</th>
            </tr>
        
        </thead>

        <tbody>
            <%if(flag){%>
                <%for(var i = 0; i <text.acceptAll.length; i++){%>
                    <tr>
                        <td><%=text.acceptAll[i]%></td>
                    </tr>
                    <%}%>
                    
                    
                    <%}%>

          
        </tbody>

       </table>
       <table class="table table-striped" style="width: 600px; margin-left: 300px;">
        <thead>
            <tr>
                <th style="background-color: wheat;">Pending Emails</th>
            </tr>
        
        </thead>

        <tbody>
            <%if(flag){%>
                <%for(var i = 0; i <text.pending.length; i++){%>
                    <tr>
                        <td><%=text.pending[i]%></td>
                    </tr>
                    <%}%>
                    
                    
                    <%}%>

          
        </tbody>

       </table>
      

    </div>

</body>
</html>